*{
    box-sizing: border-box;
}
body {
    font-family: 'Space Mono', monospace;
    background-color: #333;
}
.name {
    font-weight: bold;
    color: #fff;
}

.box {
    margin-top: 60px;
}

h3 {
    font-weight: bold;
}